.sys-title{
    height: 30px;
    margin-bottom: $basicMargin;
    border-bottom: 1px solid $borderColor;
    & > strong{
        line-height: 25px;
        font-size: 20px;
        font-weight: bold;
    }
}